<!DOCTYPE html>

<html>
<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}    
        <img id="fourohfour" src="/img/404.jpg">
    </div>
    
    {{>footer}}
</body>

</html>