<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>I built this site to learn node.js as per <a href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2/">Andrew Meade's course</a>.</p>
            <p>I highly recommend it. It walks you through building four applications, detailing key concepts along the way.</p>
            <p>This is the second application. Aside from the JS/node I've picked up, I've really enjoyed the following:</p>
            <ul style="list-style-type:circle;">
                <li>Using Express for the server side logic</li>
                <li>Templating using Handlebars (partials & views)</li>
                <li>Chaining together two APIs with Request to give a user the current weather (Location: MapBox, Weather: DarkSky)</li>
                <li>Structuring the code cleanly</li>
                <li>Utilising git</li>
                <li>Deploying to a production server (heroku)</li>
            </ul>
            <img src="/img/filler.png">
        </div>
        
        {{>footer}}
    </body>
</html>