<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>I built this site to learn node.js as per Andrew Meade's course.</p>
            <p>I highly recommend this course. It walks you through building four applications, detailing key concepts along the way</p>
            <p>This is part of the second application. Aside from the JS I've picked up, I'v really enjoyed the following:</p>
            <ul>Templating engine using Handlebars</ul>
            <ul>Chaining together two APIs to give a user the current weather (Location: MapBox, Weather: DarkSky)</ul>
            <ul>Utilising git</ul>
            <ul>Deploying to a production server (heroku)</ul>
            <img src="/img/filler.png">
        </div>
        
        {{>footer}}
    </body>
</html>