<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>website for your weather needs</p>

        <form>
            <input placeholder="Location">
            <button>Click meh</button>
        </form>
        <div>
            <p id="message-one"></p>
            <p id="you-searched"></p>
            <p id="we-found"></p>
            <p id="forecast"></p>
        </div>
    </div>
       
    {{>footer}}
    
    <script src="/js/app.js"></script>
</body>

</html>